.header {
    background-image: url(images/utah.jpg);
}

.video {
    height: 800px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    background-image: none;
    border-right: 0px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    background-color: white;
}

.page-header {
    font-size: 5em;
}

#flower {
    width: 80%;
    height: 100px;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

#textHold {
    font-size: 1.5em;
    margin-top: 0px;
}