table {
    border-collapse: collapse;
    width: 98%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #f2f2f2
}

tr:nth-child(even) {
    background-color: #a2a2a2
}

th {
    background-color: #e74c3c;
    color: white;
}

body {
    background: #272125;
}

.header {
    font-family: sans-serif;
}

.center {
    text-align: center;
    color: white;
}

.remove {
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #e74c3c;
    color: white;
}

.logout {
    float: right;
    margin-right: calc((100% - 98%) / 2);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
}